@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --line-height-base: 1.5;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
}
