@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --line-height-base: 1.5;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
}

body {
  font-family: "Pretendard", sans-serif;
}

@layer utilities {
  /* Bold */
  .pretendard-bold-12 {
    font-family: "Pretendard", sans-serif;
    font-weight: 700;
    font-size: 0.75rem; /* 12px */
    line-height: var(--line-height-base);
  }

  /* Semibold */
  .pretendard-semibold-32 {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 2rem; /* 32px */
    line-height: var(--line-height-base);
  }

  .pretendard-semibold-24 {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 1.5rem; /* 24px */
    line-height: var(--line-height-base);
  }

  .pretendard-semibold-20 {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
    line-height: var(--line-height-base);
  }

  .pretendard-semibold-18 {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    line-height: var(--line-height-base);
  }

  .pretendard-semibold-16 {
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 1rem; /* 16px */
    line-height: var(--line-height-base);
  }

  /* Medium */
  .pretendard-medium-24 {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 1.5rem; /* 24px */
    line-height: var(--line-height-base);
  }

  .pretendard-medium-18 {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 1.125rem; /* 18px */
    line-height: var(--line-height-base);
  }

  .pretendard-medium-16 {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 1rem; /* 16px */
    line-height: var(--line-height-base);
  }

  .pretendard-medium-14 {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 0.875rem; /* 14px */
    line-height: var(--line-height-base);
  }

  .pretendard-medium-12 {
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 0.75rem; /* 12px */
    line-height: var(--line-height-base);
  }

  /* Light */
  .pretendard-light-24 {
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    font-size: 1.5rem; /* 24px */
    line-height: var(--line-height-base);
  }

  .pretendard-light-18 {
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    font-size: 1.125rem; /* 18px */
    line-height: var(--line-height-base);
  }

  .pretendard-light-16 {
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    font-size: 1rem; /* 16px */
    line-height: var(--line-height-base);
  }

  .pretendard-light-14 {
    font-family: "Pretendard", sans-serif;
    font-weight: 300;
    font-size: 0.875rem; /* 14px */
    line-height: var(--line-height-base);
  }
}
